CURRENT_DIRECTORY="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

if [ -d $CURRENT_DIRECTORY/.venv ]; then
	export PATH=$CURRENT_DIRECTORY/.venv/bin:$PATH
	VENV_PACKAGES=$(python -c "import site; print(site.getsitepackages()[0])")
	export PATH=$PATH:$VENV_PACKAGES/bin
fi
